<% layout("boilerplate/boilerplate") %>
	<div class="mx-3 my-3">

		<div class="card">
			<h5 class="card-header">
				<%= type.englishname %>
					<!-- <%= type.genus %> - <%= type.species %> -->
			</h5>
			<div class="card-body">
				<h5 class="card-title">
					<span>
						Genus: <%= type.genus %>
					</span>
					<span>
						Species: <%= type.species %>
					</span>
				</h5>
				<p class="card-text">
					<%= type.description %>
				</p>
				<!-- Basic Information -->

				<!-- This part tells about reproduction Type -->
				<p>
					<% if(type.reproduction) {%>
						<a class="btn btn-outline-success" data-bs-toggle="collapse" href="#reproduction" role="button"
							aria-expanded="false" aria-controls="reproduction">
							Reproduction Type: <%= type.reproduction.name %>
						</a>
						<% } %>
							<% if(type.growth){ %>
								<a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#growth"
									role="button"
									aria-expanded="false" aria-controls="growth">
									Growth Type: <%= type.growth.name %>
								</a>
								<% }%>
				</p>
				<% if(type.reproduction){ %>
					<div class="collapse" id="reproduction">
						<div class="card card-body">
							<%= type.reproduction.description %>
						</div>
					</div>
					<% } %>
						<% if(type.growth){ %>
							<div class="collapse" id="growth">

								<div class="collapse" id="growth">
									<div class="card card-body">
										<%= type.growth.description %>
									</div>
								</div>

							</div>

							<% }%>
								<!-- Plant detail like whether its flowering plant is displayed here -->

								<!-- Plant information url is displayed here -->

								<div>
									<div class="d-flex justify-content-around flex-nowrap">
										<div class="card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.flower %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Flowering Type</h6>
											</div>
										</div>
										<div class="card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.origin %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Plant Origin</h6>
											</div>
										</div>
										<div class="card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.genus %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Genus</h6>
											</div>
										</div>
										<div class="card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.species %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Species</h6>
											</div>
										</div>
									</div>


									<div>
										<p>To know more about <%= type.englishname %>
										</p>
										<% for( info of type.infourls){ %>
											<div class="card" style="width: 10rem">
												<div class="card-body">
													<h5 class="card-title">
														<%= info.description %>e
													</h5>
													<a href="<%= info.url %>" class="card-link">Click here to
														visit</a>


												</div>
											</div>
											<a href=" <%=info.url %>">

											</a>
											<% } %>
									</div>
									<!-- Disease information URLs is displayed here -->
									<div>
										<p>To find disease or troubleshooting issues about <%= type.englishname %>
										</p>
									</div>
									<% for( dis of type.diseaseurls){ %>
										<a href="<%= dis.url %>">
											<%= dis.discription %>
										</a>
										<% } %>
								</div>
								<a class="btn btn-secondary" href="<%= route %><%= type.id %>  "> Edit details of <%=
										type.englishname
										%> </a>

			</div>