<% layout("boilerplate/boilerplate") %>
	<div class="mx-3 my-3">

		<div class="card">
			<h5 class="card-header">
				<%= type.englishname %>
					<!-- <%= type.genus %> - <%= type.species %> -->
			</h5>
			<div class="card-body">
				<h5 class="card-title">
					<span>
						Genus: <%= type.genus %>
					</span>
					<span>
						Species: <%= type.species %>
					</span>
				</h5>
				<p class="card-text">
					<%= type.description %>
				</p>
				<!-- Basic Information -->

				<!-- This part tells about reproduction Type -->
				<p>
					<% if(type.reproduction) {%>
						<a class="btn btn-outline-success" data-bs-toggle="collapse" href="#reproduction" role="button"
							aria-expanded="false" aria-controls="reproduction">
							Reproduction Type: <%= type.reproduction.name %>
						</a>
						<% } %>
							<% if(type.growth){ %>
								<a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#growth"
									role="button"
									aria-expanded="false" aria-controls="growth">
									Growth Type: <%= type.growth.name %>
								</a>
								<% }%>
				</p>
				<% if(type.reproduction){ %>
					<div class="collapse" id="reproduction">
						<div class="card card-body">
							<%= type.reproduction.description %>
						</div>
					</div>
					<% } %>
						<% if(type.growth){ %>
							<div class="collapse" id="growth">

								<div class="collapse" id="growth">
									<div class="card card-body">
										<%= type.growth.description %>
									</div>
								</div>

							</div>

							<% }%>
								<!-- Plant detail like whether its flowering plant is displayed here -->

								<!-- Plant information url is displayed here -->
								<div class="d-flex justify-content-around flex-nowrap">
									<div class="row d-flex justify-content-around">
										<div class="col-md-2 card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.genus %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Genus</h6>
											</div>
										</div>
										<div class="col-md-2 card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.species %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Species</h6>
											</div>
										</div>
										<div class="col-md-2 card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.flower %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Flowering Type</h6>
											</div>
										</div>
										<div class="col-md-2 card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.origin %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Plant Origin</h6>
											</div>
										</div>

										<div class="col-md-2 card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.maxage %>
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Max Age</h6>
											</div>
										</div>
										<div class="col-md-2 card p-2" style="width: 10rem;">
											<div class="card-body">
												<h5 class="card-title">
													<%= type.maxheight %>M
												</h5>
												<h6 class="card-subtitle mb-2 text-muted">Max Height</h6>
											</div>
										</div>
									</div>

								</div>

								<div>
									<p>To know more about <%= type.englishname %>
									</p>
									<div class="all-card-div">

										<% for( info of type.infourls){ %>
											<div class="card" style="width: 10rem">
												<div class="card-body">
													<h5 class="card-title">
														<%= info.description %>e
													</h5>
													<a href="<%= info.url %>" class="card-link">Click here to
														visit</a>


												</div>
											</div>
											<a href=" <%=info.url %>">

											</a>
											<% } %>
												<div style="align-items: center;text-align:center">
													<a href="<%= route %><%= type.id %>/knowmoreurl">
														<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
															fill="currentColor" class="bi bi-plus-circle"
															viewBox="0 0 16 16">
															<path
																d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
															<path
																d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
														</svg>
													</a>

												</div>

									</div>


								</div>

								<!-- Disease information URLs is displayed here -->
								<div>
									<p>To find disease or troubleshooting issues about <%= type.englishname %>
									</p>
								</div>
								<% for( dis of type.diseaseurls){ %>
									<a href="<%= dis.url %>">
										<%= dis.discription %>
									</a>
									<% } %>
			</div>
			<a class="btn btn-secondary" href="<%= route %><%= type.id %>"> Edit details of <%=
					type.englishname
					%> </a>

		</div>