<% layout("./boilerplate/boilerplate") %>
	<div class="row">
		<div class="col-md-6 offset-md-3">

			<div class="card mx-3 my-3 px-3 py-3">
				<h5 class="card-title">Update Plant Type</h5>

				<form method="POST" action="<%= %>" class="card-body validated-form" style="display: contents;">
					<!-- for genus -->

					<label for="genus">Genus`</label>
					<input id="genus" type="text" required name="input[genus]" class="mb-3" required
						value="<%= type.genus %>">

					<label for="species">Species</label>
					<input id="species" class="mb-3" type="text" required name="input[species]" required
						value="<%= type.species %> ">

					<label for="imgurl">Add Image URL</label>
					<input id="imgurl" class="mb-3" type="text" required name="input[imgurl]" required
						value="<%= type.imageurl %> ">

					<label for="type">Choose a plant Growth Type</label>
					<select name="input[growth]" id="cars" class="mb-3" required>
						<% for(let growth of growths) { %>
							<option value="<%= growth.id %>" <%=growth.id==type.growth ? "selected" :"" %> >
								<%= growth.name %>
							</option>
							<% } %>
					</select>

					<label for="type">Choose a plant Reproduction Type</label>

					<select name="input[reproduction]" id="cars" class="mb-3" required>
						<% for(let reprd of reproductions) { %>
							<option value="<%= reprd.id %>" <%=reprd.id==type.reproduction ? "selected" :"" %>>
								<%= reprd.name %>
							</option>
							<% } %>
					</select>
					<label for="description">Description
					</label>
					<textarea type="text" class="mb-3" name="input[description]" id="description"
						id="description" value="" style="width:400px;height:100px"></textarea>

					<label for="species">English Name</label>
					<input id="species" class="mb-3" type="text" required name="input[englishname]" required>

					<label for="species">website link for more information</label>
					<input id="species" class="mb-3" type="text" required name="input[infourls][url]">
					<label for="species">website description on above url for more information</label>
					<input id="species" class="mb-3" type="text" required name="input[infourls][description]">



					<label for="diseasewebsite">Add Website link for diseases if any</label>
					<input name="input[diseaseurls][url]" type="text" id="diseasewebsite" class="mb-3">

					<label for="diseasewebsite">Add Website description for above url on diseases if any</label>
					<input name="input[diseaseurls][description]" type="text" id="diseasewebsite" class="mb-3">

					<label for="flower">Does Plant produce flowers</label>
					<select name="input[flower]" id="flower" class="mb-3" required>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>

					<label for="origin">Which continent/region this plant variety belong to?</label>
					<input name="input[origin]" type="text" id="origin" class="mb-3">

					<button class="btn btn-primary mt-3">Submit</button>
				</form>
			</div>
		</div>
	</div>